Repository wailsapp/wails, pull requests merged in 2025-08, with the labels that each got.

#4455 docs: Add Marasi to showcase
  website/docs/community/showcase/marasi.mdx
  website/static/img/showcase/marasi.webp
Labels: Documentation, size:S, lgtm

#4286 Add goModTidy function to clean up Go module dependencies during inst…
  docs/src/content/docs/guides/cli.mdx
  v3/UNRELEASED_CHANGELOG.md
  v3/internal/flags/init.go
  v3/internal/templates/templates.go
Labels: Documentation, v3-alpha, templates, size:M, lgtm

#4463 feature: V3 alpha feature/snapassist support
  docs/src/content/docs/learn/windows.mdx
  v3/UNRELEASED_CHANGELOG.md
  v3/examples/window/main.go
  v3/internal/runtime/desktop/@wailsio/runtime/src/window.ts
  v3/pkg/application/messageprocessor_window.go
  v3/pkg/application/webview_window.go
  v3/pkg/application/webview_window_darwin.go
  v3/pkg/application/webview_window_linux.go
  v3/pkg/application/webview_window_windows.go
  v3/pkg/application/window.go
  v3/pkg/w32/constants.go
  v3/pkg/w32/user32.go
Labels: Enhancement, Documentation, Windows, MacOS, Linux, v3-alpha, runtime, size:L

#4436 [v3] Fix: Vite server not cleaned up when build fails
  v3/UNRELEASED_CHANGELOG.md
  v3/internal/commands/watcher.go
Labels: Bug, Documentation, v3, cli, v3-alpha, size:S

#4453 Support allowsBackForwardNavigationGestures
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/webview_window_darwin.go
  v3/pkg/application/webview_window_options.go
Labels: Enhancement, Documentation, v3, MacOS, v3-alpha, size:S

#4467 Custom Windows Webview2 Args
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/webview_window_options.go
  v3/pkg/application/webview_window_windows.go
Labels: Enhancement, Documentation, Windows, v3-alpha, size:S

#4259 [V3] windows: fix html drag and drop
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/webview_window_windows.go
Labels: Documentation, Windows, v3-alpha, size:S, lgtm

#4284 [V3] Windows: fix(application): handle error and type assertion in save file dialog
  v3/UNRELEASED_CHANGELOG.md
  v3/internal/go-common-file-dialog/cfd/vtblCommonFunc.go
  v3/pkg/application/dialogs_windows.go
Labels: Documentation, Windows, v3-alpha, size:S, lgtm

#4476 [v3] update docs to reflect changes from Manager API Refactoring
  docs/src/content/docs/contributing/codebase-layout.mdx
  docs/src/content/docs/contributing/runtime-internals.mdx
  docs/src/content/docs/getting-started/installation.mdx
  docs/src/content/docs/guides/custom-protocol-association.mdx
  docs/src/content/docs/guides/customising-windows.mdx
  docs/src/content/docs/guides/events-reference.mdx
  docs/src/content/docs/guides/file-associations.mdx
  docs/src/content/docs/guides/gin-routing.mdx
  docs/src/content/docs/guides/gin-services.mdx
  docs/src/content/docs/guides/menus.mdx
  docs/src/content/docs/learn/application-menu.mdx
  docs/src/content/docs/learn/browser.mdx
  docs/src/content/docs/learn/clipboard.mdx
  docs/src/content/docs/learn/context-menu.mdx
  docs/src/content/docs/learn/environment.mdx
  docs/src/content/docs/learn/events.mdx
  docs/src/content/docs/learn/screens.mdx
  docs/src/content/docs/learn/systray.mdx
  docs/src/content/docs/tutorials/01-creating-a-service.mdx
  docs/src/content/docs/whats-new.md
  v3/UNRELEASED_CHANGELOG.md
Labels: Documentation, v3-alpha, size:L, lgtm

#4478 [v3] Fix WindowUnMinised event not fired when the window was Maxmised on Windows platform.
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/webview_window_windows.go
Labels: Bug, Documentation, v3, Windows, v3-alpha, size:XS, lgtm

#4477 [v3] fix linux .desktop file appicon variable
  v3/UNRELEASED_CHANGELOG.md
  v3/internal/commands/build_assets/linux/Taskfile.yml
Labels: Bug, Documentation, cli, Linux, v3-alpha, size:XS

#4471 Refactor to using Window interface
  v3/UNRELEASED_CHANGELOG.md
  v3/examples/build/main.go
  v3/examples/events-bug/main.go
  v3/examples/keybindings/main.go
  v3/examples/systray-basic/main.go
  v3/examples/systray-menu/main.go
  v3/examples/window-menu/main.go
  v3/examples/window/main.go
  v3/internal/commands/appimage_testfiles/main.go
  v3/pkg/application/application.go
  v3/pkg/application/application_options.go
  v3/pkg/application/dialogs.go
  v3/pkg/application/dialogs_darwin.go
  v3/pkg/application/dialogs_linux.go
  v3/pkg/application/dialogs_windows.go
  v3/pkg/application/key_binding_manager.go
  v3/pkg/application/linux_cgo.go
  v3/pkg/application/linux_purego.go
  v3/pkg/application/menu_windows.go
  v3/pkg/application/messageprocessor_dialog.go
  v3/pkg/application/popupmenu_windows.go
  v3/pkg/application/systemtray.go
  v3/pkg/application/systemtray_darwin.go
  v3/pkg/application/systemtray_linux.go
  v3/pkg/application/systemtray_windows.go
  v3/pkg/application/webview_window.go
  v3/pkg/application/webview_window_close_darwin.go
  v3/pkg/application/webview_window_darwin.go
  v3/pkg/application/webview_window_linux.go
  v3/pkg/application/webview_window_options.go
  v3/pkg/application/webview_window_windows.go
  v3/pkg/application/window.go
  v3/pkg/application/window_manager.go
  v3/pkg/services/badge/badge_windows.go
Labels: Enhancement, Documentation, go, cli, Windows, MacOS, Linux, v3-alpha, size:L

#4485 feat: Add Content Protection for Windows and macOS
  docs/src/content/docs/changelog.mdx
  docs/src/content/docs/learn/windows.mdx
  v3/UNRELEASED_CHANGELOG.md
  v3/examples/window/main.go
  v3/pkg/application/webview_window.go
  v3/pkg/application/webview_window_darwin.go
  v3/pkg/application/webview_window_linux.go
  v3/pkg/application/webview_window_options.go
  v3/pkg/application/webview_window_windows.go
  v3/pkg/application/window.go
  v3/pkg/w32/user32.go
  v3/pkg/w32/wda.go
  v3/tasks/cleanup/cleanup.go
Labels: Enhancement, Documentation, go, Windows, MacOS, Linux, v3-alpha, size:L

#4481 Correct nfpm.yaml template package dependencies.
  v3/UNRELEASED_CHANGELOG.md
  v3/internal/commands/updatable_build_assets/linux/nfpm/nfpm.yaml.tmpl
Labels: Bug, Documentation, cli, Linux, v3-alpha, size:S, lgtm

#4488 Update CLI to pass through variables
  docs/src/content/docs/guides/cli.mdx
  docs/src/content/docs/learn/build.mdx
  v3/UNRELEASED_CHANGELOG.md
  v3/cmd/wails3/main.go
  v3/go.mod
  v3/internal/commands/task.go
  v3/internal/commands/task_integration_test.go
  v3/internal/commands/task_test.go
  v3/internal/commands/task_wrapper.go
  v3/internal/commands/task_wrapper_test.go
Labels: Enhancement, Documentation, cli, v3-alpha, size:XL

#4484 [V2] add url validation for BrowserOpenURL
  v2/internal/frontend/desktop/darwin/browser.go
  v2/internal/frontend/desktop/linux/browser.go
  v2/internal/frontend/desktop/windows/browser.go
  v2/internal/frontend/utils/urlValidator.go
  v2/internal/frontend/utils/urlValidator_test.go
  website/src/pages/changelog.mdx
Labels: Bug, size:L, lgtm

#4500 [v3] Sanitise browser URL
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/messageprocessor_browser.go
  v3/pkg/application/urlvalidator.go
  v3/pkg/application/urlvalidator_test.go
Labels: Documentation, Implemented in v3, v3-alpha, size:L

#4542 [v3] Liquid glass redefinition error
  docs/src/content/docs/changelog.mdx
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/application/webview_window_darwin.m
Labels: Bug, Documentation, MacOS, v3-alpha, size:S, lgtm
