Repository wailsapp/wails, pull requests merged in 2025-07, with the labels that each got.

#4378 fix windows CI
  v2/internal/go-common-file-dialog/cfd/iShellItemArray.go
  v2/internal/go-common-file-dialog/cfd/vtblCommonFunc.go
Labels: size:XS, lgtm

#4375 [v3] Fix OpenFileManager on windows
  docs/src/content/docs/changelog.mdx
  v3/internal/fileexplorer/fileexplorer.go
  v3/internal/fileexplorer/fileexplorer_darwin.go
  v3/internal/fileexplorer/fileexplorer_linux.go
  v3/internal/fileexplorer/fileexplorer_windows.go
Labels: Bug, Documentation, Windows, MacOS, Linux, v3-alpha, size:L, lgtm

#4345 feat: Add distribution-specific build dependencies for Linux (#4339)
  docs/src/content/docs/changelog.mdx
  v3/internal/commands/updatable_build_assets/linux/nfpm/nfpm.yaml.tmpl
  v3/internal/doctor/packagemanager/apt.go
  v3/internal/doctor/packagemanager/dnf.go
  v3/internal/doctor/packagemanager/emerge.go
  v3/internal/doctor/packagemanager/pacman.go
  v3/internal/doctor/packagemanager/zypper.go
Labels: Enhancement, Documentation, cli, Linux, v3-alpha, size:M

#4404 advanced bindings documentation
  docs/package-lock.json
  docs/src/content/docs/changelog.mdx
  docs/src/content/docs/learn/advanced-binding.mdx
  docs/src/content/docs/learn/binding-best-practices.mdx
  docs/src/content/docs/learn/binding-system.mdx
  docs/src/content/docs/learn/bindings.mdx
Labels: Documentation, size:XL, lgtm

#4317 `window.ToggleFrameless() api`
  docs/src/content/docs/changelog.mdx
  v3/examples/frameless/assets/index.html
  v3/internal/assetserver/bundledassets/runtime.debug.js
  v3/internal/assetserver/bundledassets/runtime.js
  v3/internal/runtime/desktop/@wailsio/runtime/package.json
  v3/internal/runtime/desktop/@wailsio/runtime/src/event_types.ts
  v3/internal/runtime/desktop/@wailsio/runtime/src/window.ts
  v3/pkg/application/messageprocessor_window.go
  v3/pkg/application/webview_window.go
  v3/pkg/application/window.go
  v3/pkg/events/events.go
  v3/pkg/events/events.txt
  v3/pkg/events/events_darwin.h
  v3/pkg/events/events_linux.h
Labels: Documentation, v3-alpha, runtime, size:XXL, lgtm

#4241 Content Privacy flag for Windows and MacOS
  v2/internal/frontend/desktop/darwin/Application.h
  v2/internal/frontend/desktop/darwin/Application.m
  v2/internal/frontend/desktop/darwin/window.go
  v2/internal/frontend/desktop/windows/winc/controlbase.go
  v2/internal/frontend/desktop/windows/winc/w32/wda.go
  v2/internal/frontend/desktop/windows/window.go
  v2/pkg/options/mac/mac.go
  v2/pkg/options/windows/windows.go
  website/docs/reference/options.mdx
  website/src/pages/changelog.mdx
Labels: size:L

#4289 V3 Deep-link (Port of v2 feature)
  docs/src/content/docs/guides/custom-protocol-association.mdx
  v3/examples/custom-protocol-example/.gitignore
  v3/examples/custom-protocol-example/README.md
  v3/examples/custom-protocol-example/Taskfile.yml
  v3/examples/custom-protocol-example/build/Taskfile.yml
  v3/examples/custom-protocol-example/build/appicon.png
  v3/examples/custom-protocol-example/build/config.yml
  v3/examples/custom-protocol-example/build/darwin/Info.dev.plist
  v3/examples/custom-protocol-example/build/darwin/Info.plist
  v3/examples/custom-protocol-example/build/darwin/Taskfile.yml
  v3/examples/custom-protocol-example/build/darwin/icons.icns
  v3/examples/custom-protocol-example/build/linux/Taskfile.yml
  v3/examples/custom-protocol-example/build/linux/appimage/build.sh
  v3/examples/custom-protocol-example/build/linux/nfpm/nfpm.yaml
  v3/examples/custom-protocol-example/build/linux/nfpm/scripts/postinstall.sh
  v3/examples/custom-protocol-example/build/linux/nfpm/scripts/postremove.sh
  v3/examples/custom-protocol-example/build/linux/nfpm/scripts/preinstall.sh
  v3/examples/custom-protocol-example/build/linux/nfpm/scripts/preremove.sh
  v3/examples/custom-protocol-example/build/windows/Taskfile.yml
  v3/examples/custom-protocol-example/build/windows/icon.ico
  v3/examples/custom-protocol-example/build/windows/info.json
  v3/examples/custom-protocol-example/build/windows/nsis/project.nsi
  v3/examples/custom-protocol-example/build/windows/nsis/wails_tools.nsh
  v3/examples/custom-protocol-example/build/windows/wails.exe.manifest
  v3/examples/custom-protocol-example/frontend/.gitignore
  v3/examples/custom-protocol-example/frontend/bindings/github.com/wailsapp/wails/v3/examples/custom-protocol-example/greetservice.js
  v3/examples/custom-protocol-example/frontend/bindings/github.com/wailsapp/wails/v3/examples/custom-protocol-example/index.js
  v3/examples/custom-protocol-example/frontend/dist/assets/index-BS9x21Y4.js
  v3/examples/custom-protocol-example/frontend/dist/assets/index-uDrhEpT0.css
  v3/examples/custom-protocol-example/frontend/dist/index.html
  v3/examples/custom-protocol-example/frontend/dist/vite.svg
  v3/examples/custom-protocol-example/frontend/index.html
  v3/examples/custom-protocol-example/frontend/package-lock.json
  v3/examples/custom-protocol-example/frontend/package.json
  v3/examples/custom-protocol-example/frontend/public/vite.svg
  v3/examples/custom-protocol-example/frontend/src/counter.js
  v3/examples/custom-protocol-example/frontend/src/javascript.svg
  v3/examples/custom-protocol-example/frontend/src/main.js
  v3/examples/custom-protocol-example/frontend/src/style.css
  v3/examples/custom-protocol-example/greetservice.go
  v3/examples/custom-protocol-example/main.go
  v3/internal/commands/build-assets.go
  v3/internal/commands/build_assets/linux/nfpm/scripts/postinstall.sh
  v3/internal/commands/updatable_build_assets/darwin/Info.dev.plist.tmpl
  v3/internal/commands/updatable_build_assets/darwin/Info.plist.tmpl
  v3/internal/commands/updatable_build_assets/linux/desktop.tmpl
  v3/internal/commands/updatable_build_assets/linux/nfpm/nfpm.yaml.tmpl
  v3/internal/runtime/desktop/@wailsio/runtime/src/event_types.ts
  v3/pkg/application/application_darwin.go
  v3/pkg/application/application_darwin_delegate.h
  v3/pkg/application/application_darwin_delegate.m
  v3/pkg/application/application_linux.go
  v3/pkg/application/application_windows.go
  v3/pkg/application/context_application_event.go
  v3/pkg/events/events.go
  v3/pkg/events/events.txt
Labels: Documentation, cli, Windows, MacOS, Linux, v3-alpha, runtime, size:XXL

#4440 Add new template wails-template-svelte-ts-less-prettier-eslint-vite
  website/docs/community/templates.mdx
Labels: templates, size:XS, lgtm

#4441 Add new template wails-template-sveltekit-less-prettier-eslint
  website/docs/community/templates.mdx
Labels: Documentation, size:XS, lgtm

#4425 [Snyk] Upgrade sponsorkit from 16.4.2 to 16.5.0
  scripts/sponsors/package-lock.json
  scripts/sponsors/package.json
Labels: dependencies, size:XS

#4439 Add support for build tags to the wails project schema and update pro…
  v2/cmd/wails/build.go
  v2/cmd/wails/internal/dev/dev.go
  v2/internal/project/project.go
  website/docs/reference/project-config.mdx
  website/src/pages/changelog.mdx
Labels: Enhancement, awaiting feedback, go, size:S, lgtm

#4446 fix linux build error in onWayland caused by declaration after label
  v2/internal/frontend/desktop/linux/window.c
  website/src/pages/changelog.mdx
Labels: Bug, Linux, size:S, lgtm

#4450 [v3] bugfix/windows linux notifications
  v3/UNRELEASED_CHANGELOG.md
  v3/pkg/services/notifications/notifications_windows.go
Labels: Bug, Documentation, v3, Windows, v3-alpha, size:M, lgtm
